---

import { profileConfig } from "../config";
import { url } from "../utils/url-utils";

const currentYear = new Date().getFullYear();
---

<!--<div class="border-t border-[var(&#45;&#45;primary)] mx-16 border-dashed py-8 max-w-[var(&#45;&#45;page-width)] flex flex-col items-center justify-center px-6">-->
<div class="transition border-t border-black/10 dark:border-white/15 my-10 border-dashed mx-32"></div>
<!--<div class="transition bg-[oklch(92%_0.01_var(&#45;&#45;hue))] dark:bg-black rounded-2xl py-8 mt-4 mb-8 flex flex-col items-center justify-center px-6">-->
<div class="transition border-dashed border-[oklch(85%_0.01_var(--hue))] dark:border-white/15 rounded-2xl mb-12 flex flex-col items-center justify-center px-6">
    <div class="transition text-50 text-sm text-center">
        &copy; <span id="copyright-year">{currentYear}</span> {profileConfig.name}<!--. All Rights Reserved.
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('rss.xml')}>RSS</a> 
        <span class="split">|</span>
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href={url('sitemap-index.xml')}>网站地图</a>
        -->
        <a target="_blank" href={url('sitemap-index.xml')}>网站地图</a>
        <span class="cdn-platform-container ml-2">
            <!-- EdgeOne Pages -->
            <img src="/assets/svg/edgeone-pages.svg" alt="EdgeOne Pages CDN" class="cdn-icon inline-block align-middle" style="height: 1em; width: auto; vertical-align: middle; display: inline-block; max-width: 100%; margin-left: 4px;" onerror="this.style.display='none'">
            <!-- Cloudflare -->
            <img src="/assets/svg/Cloudflare.svg" alt="Cloudflare CDN" class="cdn-icon inline-block align-middle" style="height: 1em; width: auto; vertical-align: middle; display: inline-block; max-width: 100%; margin-left: 4px;" onerror="this.style.display='none'">
            <!-- Vercel -->
            <img src="/assets/svg/Vercel.svg" alt="Vercel CDN" class="cdn-icon inline-block align-middle" style="height: 1em; width: auto; vertical-align: middle; display: inline-block; max-width: 100%; margin-left: 4px;" onerror="this.style.display='none'">
        </span>
        <br>
        <!--
        <a>CDN</a> <span id="cdn-platform"></span>
        Powered by
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://astro.build">Astro</a> &
        <a class="transition link text-[var(--primary)] font-medium" target="_blank" href="https://github.com/saicaca/fuwari">Fuwari</a>
        -->
        <a href="https://beian.miit.gov.cn/" target="beian_blank">豫ICP备2026006191号-1</a>
        <!--
        <span class="split">|</span>
        <span><img src="/frame/images/ga.png" width="16px" class="mr-1"><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=51060302510971" target="ga_blank" rel="nofollow noreferrer">川公网安备51060302510971号</a></span>
        -->
    </div>
</div>